.header {
	margin: 120px auto 90px auto;
	font-size: 24px;
	line-height: 1.5;
}

.header span {
	display: block;
	font-weight: 300;
} 

.header strong {
		font-size: 900;
}

.form-header {
	font-size: 20px;
	font-weight: 900;
}

.form {
	padding: 20px 30px;
	border: 5px solid #234bc3;
}

.form-header {
	margin-bottom: 30px;
}

.form input {
	margin-bottom: 20px; 
}

.section-header {
	margin: 140px auto 80px auto ;
	font-size: 24px;
	font-weight: 900;
}

.form button {
	margin-bottom: 10px;
	background: #234bc3;
}

.feature {
	margin-bottom: 100px;
}

.feature p {
	margin-top: 20px;
}

.video {
	margin-bottom: 30px;
}

.box-feature {
	height: 160px;
}