/* fonts seting*/
/*Colors*/
/* Basic setting */
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background: url(../img/main-bg.png);
}
.container {
  width: 860px;
  height: 415px;
}
.main-header {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #00bbf2;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
.main-header strong {
  display: block;
  margin-top: 80px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 36px;
}
.panel-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 21px;
}
.panel-default > .panel-heading {
  background: #00bbf2;
}
.panel-body {
  width: 800px;
  padding: 26px 38px 17px 31px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #535353;
}
